/* ココがコメント
id = #
class = 
*/


@font-face {
    src: url('C:/Users/goodm/Documents/font/MigMix_GeoMath/GeoMathDotMono/m16.ttf') format('truetype');
    font-family: 'GeoMathMono';
}
/*
@font-face {
    src: url(https://github.com/kobe2018/GeoMathMonospace/blob/master/GeoMathMono0062.ttf?raw=true) format('truetype');
    font-family: 'GeoMathMono';
}
*/

body,pre,span,input{
    font-size:24px;
    font-family:GeoMathMono;
}
input,span,pre{
    margin: 0;
    padding: 0;
}
.button-group{
    /* 複数の button タグの間に謎の余白が作られる
    https://zenn.dev/kkeeth/articles/margins-between-buttons */
    display:flex;
}
/* input{
    display:flex;
} */
/* body,textarea{
 height:96vh;
 font-family:GeoMathMono;
}
body, textarea{
 margin: 1;
 padding: 1;
} */

#ID_span01{
    position:absolute;
    top:144px;
    left:0px;
    background-color: #ffffcc;
}

/* #ID_span02{
    position:absolute;
    top:144px;
    left:0px;
    background-color: #ffffcc;
} */
/*
 #ID_main01{
    position:absolute;	
    top:24px;
    left:432px;
    background-color: #eeffffcc;
    z-index: 10;
}

#ID_main02{
    position:absolute;	
    top:0px;
    left:408px;
    background-color: #ffffff;
    z-index: 9;
} */
 
#ID_canvas01{
    position:absolute;	
    top:50px;
    left:400px;
    background-color: #eeffffcc;
    z-index: 12;
} 

#ID_svg{

    /* background-color:antiquewhite; 本来は、無で透明 */
    /* font-family:GeoMathMono;
    stroke:"red";
    fill:"red";
    font-size:24px;
    position : absolute; 
    left : 0px; 
    top  : 0px;
     */
     /*
   z-index: 0; 
    pointer-events:auto;
    pointer-events:none;
    */
}

